#camera-stream {
    width: 100%;
    max-width: 600px;
    display: none;
}

#start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#stop-button {
    display: none;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}